<p>registrationform works!</p>


<form [formGroup] = "form" (ngSubmit) = "onSubmit()">


    <app-personalinformation
    [parent] = "form"
    ></app-personalinformation>

    <app-addressinformation
    [parent] = "form"
    ></app-addressinformation>

    <app-employmentinformation
    [parent] = "form"
    ></app-employmentinformation>

    <app-educationinformation
    [parent] = "form"
    ></app-educationinformation>

    <app-relationshipinformation
    [parent] = "form"
    ></app-relationshipinformation>

    <app-skillinformation
    [parent] = "form"
    ></app-skillinformation>


<button type = "submit">
    Submit
</button>

</form>