
<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngIf="!submitted">

        <h1> Reactive Registration Form</h1>

    
        <div><app-personalinformation [parent]="form"></app-personalinformation></div>

        <div><app-addressinformation [parent]="form"></app-addressinformation></div>

        <div><app-employmentinformation [parent]="form"></app-employmentinformation></div>

        <div><app-educationinformation [parent]="form"></app-educationinformation></div>

        <div><app-relationshipinformation [parent]="form"></app-relationshipinformation></div>

        <div><app-skillinformation [parent]="form"></app-skillinformation></div>

       <div> <button type="submit">
            Submit
        </button>
        </div>

    </div>

    <div *ngIf = "submitted">
        <app-formviewer [details] = "registered"></app-formviewer>
    </div>

</form>