
<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngIf="!submitted">

    <mat-toolbar color="primary">
        <h1 class="header"> Reactive Registration Form</h1>
    </mat-toolbar>


        <mat-vertical-stepper #stepper>
            <mat-step formGroupName="personalInfo">
                <ng-template matStepLabel>Personal Information</ng-template>
        <app-personalinformation [parent]="form" (dateofbirth) = "calculateAge($event)"></app-personalinformation> 
        <div *ngIf = "age">
            {{ age }} years old
        </div>
        <button type="button" mat-raised-button matStepperNext>Next</button>
        <mat-divider></mat-divider>
    </mat-step>
  


        <mat-step formGroupName="addressInfo">
            <ng-template matStepLabel>Address Information</ng-template>
        <app-addressinformation [parent]="form"></app-addressinformation>
        </mat-step>

   


        <mat-step formGroupName="employmentInfo">
            <ng-template matStepLabel>Employment Information</ng-template>
        <app-employmentinformation [parent]="form"></app-employmentinformation>
        </mat-step>


        <mat-step formGroupName="educationInfo">
            <ng-template matStepLabel>Education Information</ng-template>
        <app-educationinformation [parent]="form"></app-educationinformation>
        </mat-step>


        <mat-step formGroupName="relationshipInfo">
            <ng-template matStepLabel>Relationship Information</ng-template>
        <app-relationshipinformation [parent]="form"></app-relationshipinformation>
        </mat-step>


        <mat-step formGroupName="skills">
            <ng-template matStepLabel>Hobbies and Skills</ng-template>
        <app-skillinformation [parent]="form"></app-skillinformation>

        <button type="button" mat-raised-button matStepperPrevious>Back</button>
        <mat-divider></mat-divider>
        </mat-step>

 

        &nbsp;
    </mat-vertical-stepper>


       <div class="submit">  

        <button type="submit" mat-raised-button color="primary">
            Submit
        </button>
        </div>

    </div>

    <div *ngIf = "submitted" class = "formpage">
        <app-formviewer [details] = "registered"></app-formviewer>
    </div>

</form>