
<div [formGroup] = "parent">

<div formGroupName = "addressInfo">

    <h3>Address Information</h3>
    <div>
        Street Name:
        <input type = "text" formControlName = "streetName">
    </div>

    <div>
        Apt/Unit Number:
        <input type = "text" formControlName = "aptNumber">
    </div>

    <div>
        City:
        <input type = "text" formControlName = "city">
    </div>

    <div>
        State:
        <input type = "text" formControlName = "state">
    </div>

    <div>
        Zip Code:
        <input type = "number" formControlName = "zipCode">
    </div>
</div>

</div>