
<div [formGroup] = "parent">

<div formGroupName = "addressInfo">

    <mat-list>
        <mat-list-item>
        Street Name:
        <input type = "text" formControlName = "streetName">
    </mat-list-item>

<mat-list-item>
        Apt/Unit Number:
        <input type = "text" formControlName = "aptNumber">
    </mat-list-item>

<mat-list-item>
        City:
        <input type = "text" formControlName = "city">
    </mat-list-item>

<mat-list-item>
        State:
        <input type = "text" formControlName = "state">
    </mat-list-item>

    <mat-list-item>
        Zip Code:
        <input type = "number" formControlName = "zipCode">
    </mat-list-item>


    </mat-list>

    <button type="button" mat-raised-button matStepperPrevious>Back</button>
    <button type="button" mat-raised-button matStepperNext>Next</button>
<mat-divider> </mat-divider>


</div>

</div>