
<div [formGroup] = "parent">

<div formGroupName = "addressInfo">

    <mat-list>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Street Name</mat-label>
        <input matInput placeholder="Enter street name" formControlName = "streetName">
        </mat-form-field>

       &nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Apt/Unit Number</mat-label>
        
        <input matInput type = "text" formControlName = "aptNumber">
        </mat-form-field>
    </div>

        <div>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
        <input matInput type = "text" formControlName = "city">
        </mat-form-field>


        &nbsp;
        
        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
        <input  matInput type = "text" formControlName = "state">
        </mat-form-field>

        &nbsp;

        <mat-form-field appearance="fill">
            <mat-label>Zip Code</mat-label>
        <input matInput type = "number" formControlName = "zipCode">
        </mat-form-field>
    </div>


    </mat-list>

 
    <button type="button" mat-raised-button matStepperPrevious>Back</button>
    &nbsp;
    <button type="button" mat-raised-button matStepperNext>Next</button>
<mat-divider> </mat-divider>


</div>

</div>