<!-- <p>formviewer works!</p> -->

<!-- <div>
<h1>Personal Information</h1>

    First Name: 
</div> -->

<mat-toolbar color="primary">
    <h1 class="top"> User Details</h1>
</mat-toolbar>

&nbsp;

<div>

            <mat-accordion>
            <mat-expansion-panel hideToggle class = "panel">
              <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <h2>Personal Information</h2>
                </mat-panel-title>
                <mat-panel-description>
                    Here, you can view your personal information including your name and date of birth.
                  </mat-panel-description>
            </mat-expansion-panel-header> 
            <mat-card class="card">
            <h2>First Name: {{ details.personalInfo.firstName }}</h2>
            <h2>Last Name: {{ details.personalInfo.lastName }}</h2>
            <h2>Date of Birth: {{ details.personalInfo.dob }} </h2>
            </mat-card>
            </mat-expansion-panel>
            </mat-accordion>

</div>
&nbsp;
<div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
            <mat-panel-title>
                <h2> Address Information</h2>
            </mat-panel-title>
            <mat-panel-description>
                Here, you can view your address information including your house address, city, state and zipcode.
              </mat-panel-description>
        </mat-expansion-panel-header> 
        <mat-card class="card">
        <h2>Street Name: {{ details.addressInfo.streetName }}</h2>
        <h2>Apartment Number: {{ details.addressInfo.aptNumber }}</h2>
        <h2>City: {{ details.addressInfo.city }}</h2>
        <h2>State: {{ details.addressInfo.state }}</h2>
        <h2>Zipcode: {{ details.addressInfo.zipCode }}</h2>
    </mat-card>
    </mat-expansion-panel>
</mat-accordion>
</div>
&nbsp;
<div>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
    <h2> Employment Information</h2>
</mat-panel-title>
<mat-panel-description>
    Here, you can view your employment information including your company name, position and salary.
  </mat-panel-description>
</mat-expansion-panel-header>
<mat-card class="card">
        <h2>Company Name: {{ details.employmentInfo.companyName }}</h2>
        <h2>Position: {{ details.employmentInfo.position }}</h2>
        <h2>Salary: {{ details.employmentInfo.salary }}</h2>
</mat-card>
    </mat-expansion-panel>
</mat-accordion>

</div>
&nbsp;
<div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
            <mat-panel-title>
                <h2> Education Information</h2>
</mat-panel-title>
<mat-panel-description>
    Here, you can view your education information including your university name, degree and GPA.
  </mat-panel-description>
</mat-expansion-panel-header>
<mat-card class="card">
        <h2>University Name: {{ details.educationInfo.univName }}</h2>
        <h2>Degree: {{ details.educationInfo.degree }}</h2>
        <h2>GPA: {{ details.educationInfo.gpa }}</h2>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
</div>
&nbsp;
<div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
            <mat-panel-title>
                <h2> Skills and Hobbies</h2>
</mat-panel-title>
<mat-panel-description>
    Here, you can view your personal skills and hobbies.
  </mat-panel-description>
</mat-expansion-panel-header>
<mat-card class="card">
        <h2>Skills: {{ details.skills.skills }}</h2>
        <h2>Hobbies: {{ details.skills.hobbies }}</h2>
        </mat-card>
        </mat-expansion-panel>
        
        </mat-accordion>
</div>




<!-- <pre> {{ details | json }}</pre> -->