<div [formGroup]="parent">

    <div formGroupName="personalInfo">


        <!-- <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Personal Information</h3>
                </mat-panel-title>
            </mat-expansion-panel-header> -->

            <div>
                <mat-list>
                    <div>

                        <mat-form-field appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Enter First name" formControlName="firstName" required>
                          </mat-form-field>

                        </div>
    
    
  
                <div>

                        <mat-form-field appearance="fill">
                            <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter last name" formControlName="lastName" required>
                        </mat-form-field>
                        
                    </div>

                  

    
    
    
                <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Date of Birth</mat-label>
                        <input matInput type="date" formControlName="dob">
                        </mat-form-field>
                        
                        &nbsp; &nbsp; &nbsp;
                        <button mat-raised-button color="accent" type="button" (click)="sendAge()">
    
                            Calculate Age
                        </button>
    
                    </div>
    
    
    
                </mat-list>


                <!-- <button type="button" mat-raised-button matStepperNext>Next</button> -->
    
    
            </div>
        <!-- </mat-expansion-panel>
        </mat-accordion> -->

       

    </div>
</div>


<!-- <pre>{{ parent.value | json }}</pre> -->