

<div [formGroup] = "parent">

    <div formGroupName = "employmentInfo">

        <mat-list>
            <mat-list-item>
            Company Name:
            <input type = "text" formControlName = "companyName">
        </mat-list-item>
    
    <mat-list-item>
            Position:
            <input type = "text" formControlName = "position">
        </mat-list-item>
    
    <mat-list-item>
            Salary:
            <input type = "number" formControlName = "salary">
        </mat-list-item>

        </mat-list>

        <button type="button" mat-raised-button matStepperPrevious>Back</button>
        <button type="button" mat-raised-button matStepperNext>Next</button>
        <mat-divider></mat-divider>
        </div>